version: '3.9'

services:
  api:
    build: ./backend
    ports:
      - "8001:8001"
    env_file: .env
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
    restart: unless-stopped

  mongo:
    image: mongo:7
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
